@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

html {
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.no-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-wrap-all * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vertical-align-top {
    vertical-align: top !important;
}

.vertical-align-middle {
    vertical-align: middle !important;
}

.vertical-align-bottom {
    vertical-align: bottom !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
}

.ad, .ad:hover, .ad:visited, .ad:link, .ad:active {
    text-decoration: none;
}

.ad:after {
    content: '\A';
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    opacity: 0;
    transition: all 1s;
}

.ad:hover:after {
    opacity: 1;
}
